<h1>Dashboard</h1>
<h2>User Posts:</h2>
{{#each user.posts}}
<div>
    <p>{{this.user.username}}, {{this.title}}, {{this.description}}, ({{this.createdAt}})</p>
</div>
{{else}}
<p>No Posts Yet</p>
{{/each}}

<div>
    <a id='post-form' href="/postForm">Add New Post</a>
</div>