<h1 id="userId">{{user_id}}</h1>
<section class="card">
      <header class="title">{{post.title}}</header>
    <p>{{post.description}}</p>
    <p>{{post.user.email}}</p>
    <p>{{post.createdAt}}</p>
    <p>Author: {{post.user.username}}</p>
</section>

<form id="comment-form">
    <label>Comment</label>
    <input type="text" id="comment-description">
    <button type='submit' id="submit-comment">Submit</button>
</form>

<h2>Comments:</h2>
{{#each post.comments}}
    <div>
        <p><strong>{{this.user.username}}:</strong> {{this.description}} <em>({{this.createdAt}})</em></p>
    </div>
{{else}}
    <p>No comments yet.</p>
{{/each}}

<script src="/js/commentForm.js"></script>